################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Patterns_3.rar
/паттерны.rar
.vs/
